<%- include('./partials/header.ejs')%>
    <main>
        <div class="about">
            <h3>A long time ago in a galaxy far, far away... </h3>
            <h4> Welcome to Star Wars Trading!</h4>
            <p>The top webpage for finding, giving away, or trading Star Wars items.</p>
            <p>Take a look at all the items available and remember: </p>
            <img src="/images/Obi-Wan-quote.webp" alt="Obi-Wan quote">
        </div>
    </main>
<%- include ('./partials/footer.ejs')%>