<%- include('../partials/header') %>
<main>
    <div class="about">
        <h4>About This Website </h4>
        <img src="/images/main/opening-crawl.webp" alt="star wars opening crawl">
        <p>This website was born when I was a student in UNC Charlotte and I was taking ITIS 5166 - Network Based App Development. </p>
        <p>I chose to make a website for Star Wars fans who wish to trade Star Wars related items across the three timeline eras. </p>
        <p>This application was made with NodeJS and Express.js along with JavaScript. I am deeply honored to bring this website to life for you.</p>
        <p>Without any hesitation, let us now explore the wonderful universe of Star Wars. </p>
    </div>
</main>
<%- include('../partials/footer') %>