<%- include('../partials/header') %>
<main>
    <div class="contact">
        <h4>Contact Me</h4>
        <img src="/images/main/hello-there.webp" alt="hello there">
        <p>I can be contacted at ashanka6@uncc.edu for any questions about this website application.</p>
    </div>
</main>
<%- include('../partials/footer') %>